/* theme color */
$--color-primary: #B50FCB;
$--table-row-hover-background: mix(#FFFFFF, $--color-primary, 95%); // #F0F9EB;

/* modify mini button */
$--button-mini-padding-vertical: 4px;
$--button-mini-padding-horizontal: 4px;
$--button-mini-font-size: 11px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
